<!DOCTYPE html>
<html>
    <body>
        <form action="/uusi" method="post">
            <p>Suorituksen nimi</p>
            <input type="text" name="name"/>
            <p>Suorituksen pituus</p>
            <input type="text" name="length"/>
            <p>Suorituksen aika</p>
            <input type="text" name="time"/>
            <p>Kommentit suorituksesta</p>
            <textarea name="comment"></textarea>
            <input type="submit" value="lisää suoritus"/>
        </form>
    </body>
</html>