{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="dataBox">

    <form action="add_user" method="post">
        <input type="text" name="username" placeholder="username"/>
        <br/>
        <input type="password" name="password" placeholder="password"/>
        <br/>
        <input type="password" name="password2" placeholder="type password again">
        <br/>
        <input type="submit" value="create user"/>
    </form>
</div>
{% endblock %}