{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="dataBoxRun">

        {% if run %}
        <p>
            Location:{{run["name"]}}
        </p>
            <p>
                Length:{{run["length"]}} meters
            </p>
            <p>
                Time:{{run["time"]}} minutes
            </p>
            {% if run[3] %}
            <p>Owners comments:{{run["comment"]}}</p>
            {% else %}
            <p>no comments</p>
        {% endif %}
        <img src="/image_map/{{run.run_id}}" width="250" height="400"/><br>
        {% if comments %}
            <p>Other runners comments</p>
                {% for comment in comments %}
            <p>{{comment["comment"]}}</p>
        {% endfor %}
        {% endif%}
        {% endif %}
            <div class="links">
                {% if run["runner_id"] == session.user_id %}
                <a href="/modify_run/{{run.run_id}}">Edit run</a>
                <a href="/remove_run/{{run.run_id}}">Remove run</a>
                {% endif%}
                <a href="/comment/{{run.run_id}}">Comment on the run</a>
            </div>
        </div>
{% endblock %}