{% extends "layout.html" %}

{% block title %}Runs{% endblock %}



{% block content %}
    {%for run in runs%}
    
    <div class="dataBox">
    {% if run["runner_id"] == session.user_id %}
        <p>Your run</p>
        {% else %}
        {% for username in usernames %}
        {% if username[1] == run["runner_id"] %}
        by runner:{{username[0]}}
        {% endif %}
        {% endfor %}
        {% endif %}
        <p>
            name:{{run["name"]}}
        </p>
        <p>
            length:{{run["length"]}} meters
        </p>
        <p>
            time:{{run["time"]}} minutes
        </p>
        {% if run["comment"] %}
        <p>comments:{{run["comment"]}}</p>
        {% else %}
        <p>No comments</p>
        {% endif %}
        {% if run["guest_comment"] %}
        <p>Guest comment {{run["guest_comment"]}}</p>
        {% endif%}
        <a href="/run/{{run.run_id}}">Look at run</a>
        {% if run["runner_id"] == session.user_id %}
        <a href="/modify_run/{{run.run_id}}">Edit run</a>
        <a href="/remove_run/{{run.run_id}}">Remove run</a>
        {% endif%}
        <a href="/comment/{{run.run_id}}">Comment on the run</a>
        <div class="divider"></div>
    </div>
        {% endfor %}
        <br/>

{% endblock %}