<!DOCTYPE html>
<html>
    <body>
        {% if stats %}
        <p>User in app {{stats["users"]}}</p>
        <p>Runs ran in app {{stats["runs"]}}</p>
        <p>Meters run all together {{stats["all_meters"]}}</p>
        <p>Longest run in record {{stats["longest_run"]}}</p>

        <p>Time spent running for all runners {{stats["all_minutes"]}}</p>
        <p>Longest time spent running for one runner {{stats["longest_minutes"]}}</p>
        {% else %}
        <p>No data available</p>
        {%endif%}
        <a href="/">To frontpage</a>
    </body>
</html>